doctype html
html
  head
    title= title
    link(rel='shortcut icon' pan-favicon='' href='/favicon.png')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body.mb-3
    header.navbar.bg-dark.fixed-top.text-light
      a.navbar-brand(href='/') DSUI
      span.navbar-text #{projectId}

    div.container-fluid
      block content
    block script
